@charset "utf-8";
header {
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	background-color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	height: 150px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
nav {
	position: absolute;
	bottom: 20px;
	width: 425px;
	right: -1px;
}
footer {
	background-color: #FFF;
	height: 150px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;
	margin-top: 10px;
}
body header h1 {
	float: right;
}
body header nav ul {
	display: inline;
}
body header nav ul li {
	display: inline;
	list-style-type: none;
}
body header nav ul li a {
	color: #000;
	background-color: #CCC;
	padding: 15px;
	text-decoration: none;
}
body header nav ul li a:hover {
	color: #FFF;
	background-color: #999;
}
h1, h2, h3, h4, h5, h6, p {
	padding: 15px;
}
#main {
	margin-right: auto;
	margin-left: auto;
	position: relative;
	width: 960px;
}
.images-box {
	height: 1000px;
	width: 950px;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
}
#main .images-box a img {
	float:left;
	transition:all .5s;
	-webkit-transition; all .5s;
	-webkit-transition; all .5s ease-in-out;
	-moz transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out; 
}
#main .images-box a img:hover{
	float:left;
	transform:rotate(15deg);
	-webkit-transform:rotate(15);
	z-indez: +1:
